<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<footer class="yoo-footer yoo-style1">
  <div class="container-fluid">
    <div class="yoo-footer-content">
      <div class="yoo-copyride">Made with coffee &amp; love by <a href="https://yookits.com/demo/idashboard/"
          target="_blank">YooKits</a> ©All rights reserved.</div>
      <!-- <ul class="yoo-footer-nav yoo-mp0 yoo-flex">
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul> -->
    </div>
  </div>
</footer>





<script src="/static/assets/js/bootstrap.bundle.min.js"></script>




<script src="/static/assets/js/iDashboard.js"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>



<script src="/static/myscript.js"></script>


<link href="/static/toast/toastr.css" rel="stylesheet" />
<script src="/static/toast/toastr.min.js"></script>