<div class="yoo-sidebarheader-toggle" style="left:15px">
  <div class="yoo-button-bar1"></div>
  <div class="yoo-button-bar2"></div>
  <div class="yoo-button-bar3"></div>
</div>
<div class="yoo-sidebarheader">
  <!-- <div class="yoo-add">
      <div class="yoo-add-in">
        <a target="_blank" href="https://yookits.com/product/idashboard-pro-bootstrap-admin-template/" class="yoo-add-thumb">
          <img src="assets/img/idashboard.jpg" alt="MaterialXPro">
        </a>
        <h2 class="yoo-add-title"><a target="_blank" href="https://yookits.com/product/idashboard-pro-bootstrap-admin-template/">Go Pro &amp; unlock  100+ more UI components &amp; pages.</a></h2>
        <a target="_blank" href="https://yookits.com/product/idashboard-pro-bootstrap-admin-template/" class="yoo-add-btn btn btn-success btn-sm">Show Me</a>
      </div>
    </div> -->
  <div class="yoo-sidebarheader-in" data-scrollbar>
    <div class="yoo-sidebar-search">
      <form action="#" class="yoo-search yoo-style1 yoo-search-md">
        <input type="text" placeholder="Tìm kiếm..." class="yoo-search-input">
        <button class="yoo-search-submit">
          <ion-icon name="search"></ion-icon>
        </button>
        <button class="yoo-voice-btn">
          <ion-icon name="mic"></ion-icon>
        </button>
      </form>
    </div>
    <div class="yoo-sidebar-nav">
      <ul class="yoo-sidebar-nav-list yoo-mp0">
        <li>
          <a href="/index.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="layers"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Danh sách mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/mailupload.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="add-circle"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Thêm mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/maildelete.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="trash"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Xóa mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/mailupdate.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="create"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Cập nhật mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/gopmail.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="git-pull-request"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Gộp mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/caidat.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="settings"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Cài đặt</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/checkmail.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="flashlight"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Check mail</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/devicemanager.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Quản lý thiết bị</span>
            </span>
          </a>
        </li>
        <li>
          <a href="/accountmanager.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="person-circle"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Quản lý tài khoản</span>
            </span>
          </a>
        </li>
        <!-- <li>
          <a href="/api.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="information-circle"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Hướng dẫn API</span>
            </span>
          </a>
        </li> -->
        <li>
          <a href="/login.html">
            <span class="yoo-sidebar-link-title">
              <span class="yoo-sidebar-link-icon yoo-style1">
                <ion-icon name="log-out"></ion-icon>
              </span>
              <span class="yoo-sidebar-link-text">Đăng xuất</span>
            </span>
          </a>
        </li>
      </ul><!-- .yoo-sidebar-nav-list -->
    </div>
  </div>
</div><!-- .yoo-sidebarheader -->
<script>

  // document.querySelector("body").className = "yoo-sidebar-active";
  // document.querySelector(".yoo-main-header-left").style["margin-left"] = "-234px";


  // (function closemanu() {
  //   var width = screen.width;
  //   console.log(130, width)
  //   let attributesBody = document.querySelector("body");
  //   if (attributesBody) {
  //     attributesBody.classList.remove("yoo-sidebar-active")
  //   }
  // })();
</script>